body {
    font-family: Arial, sans-serif;
    background-image: url('Assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    max-width: 600px;
}

img {
    display: block;
    margin: 20px auto;
    width: 200px;
    border-radius: 50%;
}

button {
    display: flex;
    margin: 20px auto;
    padding: 10px 20px;
    margin: 5px;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff69b4;
}

a {
    text-decoration: none;
}