* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("background.png") no-repeat center center/cover;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

/* Main container */
.hero {
    animation: fadeUp 0.8s ease forwards;
    opacity: 0;
    transform: translateY(20px);
    position: relative;
    text-align: center;
    padding: 60px 40px;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Blue card behind everything */
.card-bg {
    position: absolute;
    width: 450px;
    height: 550px;
    background: rgba(248, 120, 163, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0; /* Behind */
    border-radius: 20px;
    background: rgba(255, 105, 135, 0.25);
    background: rgba(255, 105, 135, 0.25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Bring content in front */
.hero h1,
.hero p,
.profile,
.buttons {
    position: relative;
    z-index: 2;
}

h1 {
    margin-bottom: 15px;
}

.intro {
    margin-bottom: 20px;
    max-width: 400px;
}

/* Profile image */
.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 0 25px rgba(255, 105, 135, 0.6);
    transition: 0.3s ease;
}

.profile:hover {
    transform: scale(1.05);
}

/* Buttons */
.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

.instagram {
    background: #ff4d88;
}

.github {
    background: #333;
}
